<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="deleteRegister (title, url)">
    <div class="modal fade" id="deleteRegister" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel" th:text="${title}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="text-delete"></p>
                    <div style="display: none" id="name-delete"></div>
                    <div style="display: none" id="id-delete"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="delete-btn"  th:onclick="deleteRow()" th:data-url="${url}">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>