<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment = "header">

            <div class="container" style="z-index: 700;">
                <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                    <a href="#" id="pomo-logo" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                        <svg class="bi me-2" width="40" height="32">
                            <img class="bi me-2" width="190" height="90" th:src="@{image/logoM.svg}" alt="Manager Icon">
                        </svg>
                    </a>

                    <ul class="nav nav-pills">
                        <li class="nav-item">
                                <a href="#" id="persons-btn" class="menu-button btn btn-outline-danger mx-2">Persons</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" id="employees-btn" class="menu-button btn btn-outline-danger mx-2">Employees</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" id="players-btn" class="menu-button btn btn-outline-danger mx-2">Players</a>
                        </li>
                    </ul>
                </header>
            </div>
        </div>
    </body>
</html>