<h2 class="h2">Players</h2>

<hr>

<div th:replace="~{common/button-modal-add-register :: buttonModalAddRegister ('player')}">

</div>

<table class="table table-hover table-responsive" id="player-table">
    <thead class="table-success">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Coins</th>
            <th scope="col">Money</th>
            <th scope="col"></th>
            <th scope="col" ></th>
        </tr>
    </thead>
    <tbody id="table-body">

    </tbody>
</table>

<div th:replace="~{common/modal-add-register :: modalAddRegister (title = 'New Player', url = '/persons/createPlayer')}">
</div>

<div th:replace="~{common/update-modal :: nodalUpdateRegister (title = 'Update Player', url = '/persons/updatePlayer')}">
</div>

<div th:replace="~{common/delete-modal :: deleteRegister (title = 'Delete Player', url = '/persons/deletePlayer')}">
</div>